body{
  background-color: #a39274;
}
.frame{
  border : 2px solid black;
  margin : 50px 300px;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
  background-color: #1d1e22;
  color: #d4d4dc;
  font-family: Courier New;
}

.heading{
  text-align: center;
}

button{
  padding: 8px;
  background-color: #feda6a;
  border: 1px solid #feda6a;
  font-weight: bolder;
  font-size: 16px;
  border-radius: 10px;
  color: #1d1e22;
}